.header{
    text-align: center;
    background-color: grey;
    font-size:2.5em;
    box-shadow:2px 2px 2px grey;
    height: 100px;
    color:white;
}
.row1{
    margin-top: 2%;
    margin-left: 25%;
}
.row2{
    margin-top: 2%;
    margin-left: 25%;
}
.connectbtn{
    cursor: pointer;
    margin-left:52%
}